@import '@/assets/styles/style.css';


.settings-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 20px 0px 0 35px;
}

.title {
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

    width: 100%;

    display: inline-block;

    margin-bottom: 20px;

    color: var(--color-dark-blue);
    text-align: start;
}

.settings-tooltip {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 10px;
}

.settings-tooltip__text {
    font-family: Mulish, sans-serif;
    font-size: 12px;
    font-weight: 600;

    display: inline-block;

    margin-right: 10px;

    color: var(--color-gray1);
}

.settings-tooltip__link {
    font-family: Mulish, sans-serif;
    font-size: 12px;
    font-weight: 400;

    color: var(--color-gray1);
    letter-spacing: 0px;
    text-decoration: underline;
}

.ydx-input {
    font-family: Mulish, sans-serif;
    font-size: 12px;
    font-weight: 400;

    height: 26px;

    border-radius: 6px;
    color: var(--color-gray1);
    letter-spacing: 0px;
}

.link-wrapper {
    width: 480px;

    display: flex;
    flex-direction: column;
}

.link-wrapper > .el-form-item {
    margin-bottom: 0;
}

.save-button {
    height: 25px;
    width: 128px;

    margin-top: 16px;
}

.save-button:focus-visible {
    outline: none;
}