@import '@/assets/styles/style.css';

.account-layout {
    width: 1200px;

    display: flex;
    flex-direction: column;
}

.account-body {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: calc(100vh - 70px);
}

.sidebar {
    background-color: var(--color-white1);
    padding: 24px;
    border-right: 1px solid var(--color-gray3);
}

.account-name {
    font-family: Mulish, self-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;

    margin-bottom: 20px;

    color: var(--color-gray);
}

.content {
    background-color: var(--color-white);
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 12px;
    padding: 8px 8px 8px 14px;

    background-color: var(--color-white);
    border-radius: 10px;
}

.repair-image {
    margin-right: 8px;
    margin-top: 6px;
}

.reviews-container__text {
    font-family: Mulish, self-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    color: var(--color-gray2)
}

.left-menu {
    background-color: transparent;
    border-right: none;
}

.left-menu > .el-menu-item {
    font-family: Mulish, sans-serif;
    font-size: 12px;
    height: 16px;

    margin-bottom: 8px;
    padding: 14px 0;
}

.left-menu > .el-menu-item.is-active {
    background-color: var(--color-white);
    border-radius: 12px;
    color: var(--color-gray4);
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}