@import '@/assets/styles/style.css';

.account-layout {
    width: 1200px;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.account-body {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: calc(100vh - 60px);
}

/* Sidebar */
.sidebar {
    background: #f3f4f6;
    padding: 24px;
    border-right: 1px solid #e5e7eb;
}

.account-name {
    font-family: Mulish, self-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;

    margin-bottom: 20px;

    color: var(--color-gray);
}

/* Content */
.content {
    padding: 40px;
    background: #ffffff;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 12px;
    padding: 8px 8px 8px 14px;

    background-color: var(--color-white);
    border-radius: 10px;
}

.repair-image {
    margin-right: 8px;
    margin-top: 6px;
}

.reviews-container__text {
    font-family: Mulish, self-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    color: var(--color-gray2)
}