@import '@/assets/styles/style.css';

.app-header {
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 22px;
    padding: 0 24px;

    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray3);
}

.logout-btn {
    border: none;
    outline: none;
}

.logout-btn:hover {
    background-color: transparent;
    color: transparent;
}