@import '@/assets/styles/style.css';

.rating-card {
    height: 140px;

    padding: 20px;

    background-color: var(--color-white2);
    border: 1px solid var(--color-gray6);
    border-radius: 12px;
    text-align: center;
}

.rating-row-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rating-number {
    font-family: Mulish, sans-serif;
    font-size: 40px;
    font-weight: bold;

    margin-right: 8px;

    color: var(--color-gray2);
}
.reviews-count {
    font-family: Mulish, sans-serif;
    font-size: 12px;
    font-weight: 700;

    color: var(--color-gray2);
    text-align: left;
}

.delimeter {
    color: var(--color-gray7);
}