@import '@/assets/styles/style.css';

.review-list-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.map-wrapper {
    display: inline-flex;
    align-items: center;

    margin-bottom: 8px;
    padding: 4px 8px;

    border: 1px solid var(--color-gray5);
    border-radius: 8px;
}

.map-wrapper > .map-wrapper__title {
    font-family: Mulish, sans-serif;
    font-size: 12px;
    font-weight: 500;

    color: var(--color-gray2);
}

.ynd-map {
    height: 15px;
    width: 12px;

    margin-right: 6px;
}