@import '@/assets/styles/style.css';

.review-item {
    width: 100%;

    margin-bottom: 16px;
    padding: 20px;

    background-color: var(--color-white);
    border: 1px solid #E0E7EC;
    border-radius: 12px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.review-header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 8px;
}

.author {
    font-weight: 600;
}

.date {
    font-size: 12px;

    margin-bottom: 10px;

    color: #888;
}