@import '@/assets/styles/style.css';

.review-item {
    height: 154px;
    width: -webkit-fill-available;

    margin-bottom: 16px;
    padding: 13px 20px 13px 20px;

    background-color: var(--color-gray7);
    border: 1px solid var(--color-gray6);
    border-radius: 12px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.review-header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 8px;
}

.review-header-left-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.author, .formatted-date {
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-size: 12px;

    color: var(--color-gray2);
}

.formatted-date {
    margin-right: 6px;
}

.row-1, .row-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.row-2 > .row-2__context {
    font-family: Mulish, sans-serif;
    font-weight: 400;
    font-size: 12px;

    color: var(--color-gray2);
    text-align: left;
}

.ynd-review {
    height: 15px;
    width: 12px;
}