@import '@/assets/styles/style.css';

.stars {
    font-size: 14px;

    color: var(--color-yellow);
}

.star {
    margin-right: 2px;

    opacity: 0.3;
}

.star.full {
    opacity: 1;
}

.star.half {
    opacity: 0.7;
}

.star.big {
    font-size: 20px;
}